.wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  background-color: rgba(202, 198, 198, 0.69);
}